{% extends "tasks/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <div class="well profile">
                <form action="/tasks/login/" method="POST">
                    {% csrf_token %}
                    <div class="col-xs-12 col-sm-12 text-center">
                        <figure>
                            {% for ph in photo %}
                                {% if ph.photo %}
                                    <img width="250" src="{{ MEDIA_URL }}{{ ph.photo }}" alt="" class="img-thumbnail img-responsive">
                                {% else %}
                                    <img width="250" src="{{ photo.model.photo }}" alt="" class="img-thumbnail img-responsive">
                                {% endif %}
                            {% endfor %}
                            <figcaption>
                                <h2>Authentication</h2>
                            </figcaption>
                        </figure>
                    </div>
                    {% if login_error %}
                        <div class="col-xs-12 text-center">
                            <div class="col-xs-12 col-sm-12">
                                <div class="alert alert-danger" role="alert" id="alert_error">Incorrect username or password.</div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-sm-12">
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <input class="form-control input-lg" id="id_username" maxlength="30" name="username" placeholder="Username" type="text" />
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" id="id_password" maxlength="128" name="password" placeholder="Password" type="password" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <div class="col-xs-12 col-sm-12">
                            <input class="btn btn-success btn-block btn-lg" type="submit" value="Login" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}